*
{
    box-sizing: border-box;
}
 body
 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: white;
 }

 .header
 {
    padding: 5px;
    color: darkslategray;
    margin:auto;
    background-color: white;
    text-align: center;
    border:2.5px solid darkslategray
 }

 .header h1
 {
    font-size:90px;
 }
 .header h2
 {
    font-size:30px;
    color: dimgray;
 }

 .nav
 {
     background-color: darkslategray;
     padding:35px 30px;
     width: 100%;
 }
  
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav li a 
{
  box-sizing: content-box;
  background-color: white;
  text-decoration: none;
  color: darkslategray;
  float: right;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 100px;
  border: 1px solid darkslategray;
  border-radius: 50px;

}



   
 .nav a:hover
 {
     background-color: darkslategray;
     color: white;
     border: 1px solid white;
     
 }


 
.services{
	width:100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
  align-items: center;
 
}
.s-heading{
	text-align:center;
}
.s-heading h1{
	color:darkslategray;
	font-size: 50px;
	font-weight: 400px;
	letter-spacing: 1px;
  margin: 0px;
  
}

.s-box-container{
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.s-box{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 1000px;
	width:1000px;
	padding: 20px 25px;
    height: 300px;
    color:white;
	box-sizing: border-box;
	margin: 30px;
    position: relative;
    background-color:  darkslategray;
}

.s-box h1{
	color:white;
	letter-spacing: 1px;
    font-size: 25px;
  margin-bottom: 50px;
  margin-left: 10%;
  margin-right: 10%;
}

.s-box p{

  text-align: center;
  color: white;
}
.s-btn{
	width: 140px;
	height: 40px;
	border-radius: 20px;
	border:1px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
  color: white;
	margin-top:10px; 
}



@keyframes bar{
	0%{
		width:0px;
	}
	100%{
		width:100px;
	}
}
@media(max-width:1050px){
	.s-box-container{
		flex-wrap: wrap;
		
	}	
	.services{
		height: auto;
	}
	.s-heading{
		margin: 15px;
	}
	.s-box{
		flex-grow: 1;
	}
	
}



/* Column container */
.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }

  .footer
  {
      background-color: darkolivegreen;
      color: white;
      text-align: center;
      width: 100%;
      padding: 5px 10px;
  }

  .footnav
  {
    padding:35px 30px;
    width: 100%;
  }

  .footnav a
  {
    box-sizing: border-box;
    background-color: white;
    color: black;
    padding:20px 30px;
    border: 1px solid darkolivegreen;
    border-radius: 100px;
    text-decoration: none;
  }

  .footnav a:hover
  {
    background-color: darkolivegreen;
    color: white;
    border: 1px solid white;
    
  }

  .about
  {
      text-align: center;
      padding: 0%;
  }
  .about p
  {
      margin-left: 20%;
      margin-right: 20%;
      font-size: 30px;
      color: darkolivegreen;
  }

  .s-heading form
  {
      text-align: center;
      padding-top: 50px;
  }
  .f
  {
      text-align: center;
      font-size: 30px;
      color: darkolivegreen;
      box-sizing: border-box;
      background-color: darkolivegreen;
      color: white;
  }
 




.main2 {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 100px;
  line-height: 35px;
  color: darkslategray;
  font-size: 30px;
}


.main2 select
{
  position: relative;
  font-family: Arial;
  width: 100%;
  height: 35px;
  background-color: darkslategray;
  color: aliceblue;
  font-size: 20px;
}

.main2 select:hover
{
  cursor: pointer;
}
.main2 option
{
  background-color: white;
  color: darkslategray;
}





.main3 {   
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  background-color: white;
  line-height: 20px;
  
}

.main3 h2
{
  color: darkslategray;
  font-size: 90px;
  text-align: center;
 
}
.main3 h5
{
  color: darkslategray;
  font-size: 40px;
  text-align: center;
  box-sizing: border-box;
}

.btn2
{
  box-sizing: border-box;
  border:1px;
  border-radius: 150px;
  background-color: darkslategray;
  font-size: 40px;
  color:white;
  text-decoration: none;
  width:40%;
  margin-left: 30%;
  text-align: center;

}
.btn2:hover
{
  background-color: white;
  color: darkslategray;
  border: 1px solid darkslategray;
  cursor: pointer;
}


.form1
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  color: darkslategray;
  font-weight: bold;
  font-size: 20px;
}
.form1:hover
{
  background-color: lightgray;
}

.btna
{
  background-color: darkslategray;
  color: white;
  text-align: center;
  padding: 20px 100px;
  border: 1px solid  darkslategray;
  font-size: 20px;
  border-radius: 200px;
  width:100%
}
.btna:hover
{
  background-color: white;
  border: 1px solid  darkslategray;
  color: darkslategray;
  cursor: pointer;

}


.btnb
{
  background-color: darkslategray;
  color: white;
  text-align: center;
  padding: 20px 100px;
  border: 1px solid  darkslategray;
  font-size: 20px;
  border-radius: 200px;
  margin-left: 40%;
}
.btnb:hover
{
  background-color: white;
  border: 1px solid  darkslategray;
  color: darkslategray;
  cursor: pointer;
}

.res
{
  margin-left: 15%;
  margin-right: 5%;
  font-size: 40px;
  color:darkred;
  margin-top: 4%;
}


